html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: #624537;
}
a {
  text-decoration: none;
  color: inherit;
}
