.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-image: linear-gradient(#fef0e0e8, #fef0e0e8),
    url("images/image_4.png"), url("images/image_4.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: cover, 30rem, 30rem;
  background-position: center, 10% 40%, 90% 70%;
}

.title {
  width: 100%;
  font-size: 5rem;
  text-align: center;
  font-family: "Lavishly Yours", cursive;
}

.spolight {
  width: 40%;
  display: block;
  margin: 0 auto;
}

.image-wraper {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.img-base {
  width: 100%;
  transform: rotate(180deg);
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  transform: translateX(50%) translateY(20%);
}

.album {
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.album-header {
  font-size: 2.5rem;
  text-align: center;
}

.album-header-left,
.album-header-right {
  display: inline-block;
  width: 4rem;
}

.album-title {
  display: inline-block;
  height: 100%;
  background-image: url("images/image_6.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.album-header-left {
  transform: rotate(70deg) translateX(1.5rem);
}

.album-header-right {
  transform: translateX(-1rem);
}

.album-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

.album-item {
  width: 48%;
}

.album-image {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.info-wedding {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}

.info-item {
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.division {
  width: 2px;
  background-color: #000;
  margin: 0 1rem;
  height: 10rem;
}

.time-wedding {
  padding: 1rem;
  text-align: center;
}

.time-wedding-header {
  font-size: 1.6rem;
}

.human {
  margin: 2rem 0 1rem 0;
  font-size: 5rem;
  font-family: "Ma Shan Zheng", cursive;
}

.human-posi {
  text-transform: uppercase;
  margin: 2rem;
}

.and {
  font-size: 4rem;
  font-family: "Ma Shan Zheng", cursive;
}

.time-desc {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.division2 {
  width: 2px;
  background-color: #000;
  margin: 0 1rem;
  height: 2rem;
}

.album2 {
  background-image: url("images/image_5.png"), url("images/image_3.png");
  background-repeat: no-repeat;
  background-size: 35rem, 5rem;
  background-position: 20% 5%, 80% 50%;
}

.time-wedding-header-secondary {
  font-size: 2rem;
  margin-top: 1rem;
  text-align: center;
}

.count-title {
  margin-top: 2rem;
}

.countdown {
  display: flex;
  gap: 12px;
  justify-content: center;
  font-family: monospace;
  margin-top: 2rem;
}

.time {
  background: #e1c491;
  color: #624537;
  padding: 15px 18px;
  border-radius: 10px;
  text-align: center;
  min-width: 80px;
}

.time span {
  font-size: 36px;
  font-weight: bold;
  display: block;
}

.time small {
  font-size: 11px;
  opacity: 0.7;
}

.info-map {
  margin-top: 2rem;
}

.info-map-place {
  margin-top: 1rem;
  padding: 1rem 2rem;
  background-color: #e1c491;
  border-radius: 8px;
}

.wedding-footer {
  width: 60%;
}

.thank-you {
  font-size: 3rem;
  font-family: "Pattaya", cursive;
}

.happy {
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

.qr-title {
  font-size: 2rem;
  margin-top: 2rem;
  text-transform: uppercase;
}

.qr-img {
  width: 50%;
  margin-top: 1rem;
  border-radius: 12px;
}

.reval {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease-out;
}

.reval.active {
  opacity: 1;
  transform: translateY(0px);
}

#overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  z-index: 9999;
}